.dropdown-menu {
  background:rgb(240, 170, 57);
  width: 200px;
  position: absolute;
  top: 3.5rem;
  list-style: none;
  text-align: start;
}

.dropdown-menu li {
  background: rgb(240, 170, 57)#1888ff;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: rgb(0, 0, 0)cabff;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
