.dropdown-menu {
  /* background:rgb(240, 170, 57); */
  background:rgb(190, 88, 3);
  width: 200px;
  position: absolute;
  top: 4rem;
  list-style: none;
  text-align: start;
}

.dropdown-menu li {
  background: rgb(240, 170, 57)#1888ff;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background: rgb(0, 0, 0)cabff;
  color: #000;
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #fff;
  padding: 16px;
}
.dropdown-link :hover {
  color: black;
  transition: all 0.1s ease-out;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
