@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}
.form-inputs p {
  color: red;
}
.form-container {
  margin: 100px auto;
  width: 90%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.form-success {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  color: #fff;
  height: 10rem;
  margin-bottom: 80px;
}

.form-content {
  border-radius: 0px 0px 0px 0px;
  position: relative;
  background: linear-gradient(
    90deg,
    rgb(240, 170, 57) 0%,
    rgb(253, 156, 0) 100%
  );
}

.form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.form h1 {
  font-size: 1rem;
  text-align: center;
  width: 80%;
  margin-bottom: 1rem;
  color: #fff;
}

.form-inputs {
  margin-bottom: 0.5rem;
  width: 100%;
}

.form-inputs p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.form-label {
  display: inline-block;
  font-size: 0.9rem;
  margin-bottom: 6px;
  color: #fff;
}

.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
}

.form-input::placeholder {
  color: #595959;
  font-size: 12px;
}

.form-input-apply-agent {
  width: 80%;
  height: 50px;
  margin-top: 10px;
  border-radius: 5px;
  background: white;
  border:none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  transition: all 0.4s ease-in;
}

.form-input-apply-agent:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  transition: all 0.4s ease-out;
  border-color: rgb(0, 0, 0);
}

.agentHeader {
  width: 100%;
  object-fit: cover;
  height: 400px;
  object-position: 0vmin 0vmin 0vmin 0vmin;
}
.top-sec {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.top-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9rem;
  width: 300px;
}
.text1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 80%;
}
.text1 h1 {
  color: rgb(10, 20, 173);
  padding-bottom: 1rem;
  padding-top: 2rem;
}
.agentformlabel {
  color: orange;
  padding-top: 4rem;
  font-size: 2rem;
}
.agent {
  position: relative;
  padding: 2rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
}
.agent h1 {
  padding-bottom: 3rem;
  font-size: 40px;
}
.agent h2 {
  padding-bottom: 20px;
  padding-top: 30px;
}
.bottomtext {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 80%;
  padding-bottom: 5rem;
}
.bottomtext h1 {
  color: burlywood;
  font-size: 30px;
}
.bottomtext h1 {
  padding-bottom: 3rem;
  font-size: 40px;
}
.bottomtext h2 {
  padding-bottom: 20px;
  padding-top: 30px;
}
.buttonContainer{
  /* padding-top: 200px; */
  background: #fff;
  margin-left: 3rem;
  margin-right: 3rem;

}
@media screen and (max-width: 900px) {
  .form-content {
    width: 100%;
  }
  .form-inputs {
    width: 100%;
  }
  .form-container {
    width: 90%;
    grid-template-columns: none;
  }
  .form-input-apply-agent {
    width: 90%;
  }
  .agentHeader {
    width: 100%;
    object-fit: cover;
    height: 250px;
  }
  .top-sec {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
  }
  .top-img {
    padding-top: 0rem;
  }
}
